@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

* {
	margin: 0;
    padding: 0;
    border-radius: 5px;
    box-sizing: border-box;
}
body {
	background: #557085;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
	background-size: cover;
	background-position: center;
}
/*Login Form Start*/
section .container{
	position: relative;
	width: 800px;
	height: 600px;
	background: white;	
	overflow: hidden;
}

section .container .user{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
}
section .container .user .imgBx{
    position: relative;
    width: 50%;
    height: 100%;
    transition: 0.5s;
	
}
section .container .user .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
	border-radius: 0;
}
.login_container{
	position: relative;
	width: 400px;
	background: white;
	padding: 60px 40px;
    text-align:center;
  }
.input-field, form .button{
	margin: 25px 0;
	position: relative;
	height: 50px;
	width: 100%;
  }
  .input-field input{
	height: 100%;
	width: 100%;
	border: 1px solid silver;
	padding-left: 15px;
	outline: none;
	font-size: 19px;
	transition: .4s;
  }
  input:focus{
	border: 1px solid #1DA1F2;
  }
  .input-field label, span.show{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
  }
  .input-field label{
	left: 15px;
	pointer-events: none;
	color: grey;
	font-size: 18px;
	transition: .4s;
  }
  span.show{
	right: 20px;
	color: #111;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	user-select: none;
	visibility: hidden;
	font-family: 'Open Sans', sans-serif;
  }
  input:valid ~ span.show{
	visibility: visible;
  }
  input:focus ~ label,
  input:valid ~ label{
	transform: translateY(-33px);
	background: white;
	font-size: 16px;
	color: #1DA1F2;
  }
  form .button{
	margin-top: 30px;
	overflow: hidden;
	z-index: 111;
  }
  .button .inner{
	position: absolute;
	height: 100%;
	width: 300%;
	left: -100%;
	z-index: -1;
	transition: all .4s;
	background: -webkit-linear-gradient(right,#00dbde,#fc00ff,#00dbde,#fc00ff);
  }
  .button:hover .inner{
	left: 0;
  }
  .button button{
	width: 100%;
	height: 100%;
	border: none;
	background: none;
	outline: none;
	color: white;
	font-size: 20px;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
  }
  .container .auth{
	margin: 35px 0 20px 0;
	font-size: 19px;
	color: grey;
  }
  .links{
	display: flex;
	cursor: pointer;
  }
  .facebook, .google{
	height: 40px;
	width: 100%;
	border: 1px solid silver;
	border-radius: 3px;
	margin: 0 10px;
	transition: .4s;
  }
  .facebook:hover{
	border: 1px solid #4267B2;
  }
  .google:hover{
	border: 1px solid #dd4b39;
  }
  .facebook i, .facebook span{
	color: #4267B2;
  }
  .google i, .google span{
	color: #dd4b39;
  }
  .links i{
	font-size: 23px;
	line-height: 40px;
	margin-left: -90px;
  }
  .links span{
	position: absolute;
	font-size: 17px;
	font-weight: bold;
	padding-left: 8px;
	font-family: 'Open Sans', sans-serif;
  }
  .signup{
	margin-top: 50px;
	font-family: 'Noto Sans', sans-serif;
  }
  .signup a{
	color: #3498db;
	text-decoration: none;
  }
  .signup a:hover{
	text-decoration: underline;
  }
/*Responsive Start*/

  @media screen and (max-width:768px) {
    .container{
             width: 80%;
             display:block;
             margin: auto;
             padding-top: 50px;
    }
	.content-section{
             float: none;
            width: 100%;
            display: block;
            margin: auto;
    
    }
	.container .user .imgBx{
		display: none;
	}
	  
	.container .login_container{
                  display:block;
                  margin: auto;
                  padding-top: 15px;
	          text-align: center;
                  font-size: 19px;
	}
	.container .login_container .input-field{
		display:block;
                margin: auto;
                padding-top: 15px;
		text-align: center;
                font-size: 19px;
		
	}

}
/*Login Form End*/


/*Registration Form Start*/
section{
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: 0.5s;
}
section.active
{
    background: #3e3f39;
}
section .container{
    position: relative;
    width: 800px;
    height: 600px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    overflow: hidden;
	display: flex;
}
.login-container{
	position: relative;
	width: 400px;
	background: white;
  }
section .container .user{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
section .container .user .imgBx{
    position: relative;
    width: 50%;
    height: 100%;
    transition: 0.5s;
}
section .container .user .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.header {
	padding: 20px 40px;
	font-size: 40px;
	margin-bottom: 15px;
	font-family: 'Montserrat', sans-serif;
}
.header h2 {
	    color: #202124;
	    margin: 0;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
		letter-spacing: 0.1px;
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
}
.form {
	padding: 30px 40px;	
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 1px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
	height: 100%;
    background: #f5f5f5;
    color: #333;
    box-shadow: none;
    margin: 8px 0;
    letter-spacing: 1px;
    font-weight: 300;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}
.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: -5px;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form button {
    background: #677eff;
    cursor: pointer;
	border: 2px solid;
	border-radius: 15px;
	color: #fff;
	display: block;
    font-weight: 500;
	padding: 12 12px;
	margin-top: 10px;
	height: 50px;
	width: 100%;
	font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: .975rem;
    letter-spacing: .0107142857em;  
    text-transform: none;
}
.signup{
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase;
    font-weight: 300;
}
.signup a{
    font-weight: 800;
    text-decoration: none;
    color: #577eff;
}






















